* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik-Regular';
    text-decoration: none;
    list-style: none;
}

/* 

font-family: 'Rubik-Regular';
font-family: 'Rubik-Light';
font-family: 'Rubik-Bold'; 

*/

body {
    background: #f1f1f1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.aside{
    height: 100%;
    background-color: white;
    width: 100px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 20px;
    transition: 300ms;
    overflow: hidden;
}
.aside:hover{
    width: 234px;
    
}

.aside-nav__list{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
align-items: center;
   height: 315px;
}
.aside-icon{
    font-size: 35px;
    margin-right: 35px;
}
.aside-logo{
    height: max-content;
}
.aside-icon{
    margin-right: 35px;
    margin-left: 15px;
}
.aside-nav li{
    margin-bottom: 40px;
}
.aside-nav li:nth-last-of-type(1){
    margin-bottom: 0;
}
.aside-nav__link{
    display: flex;
    align-items: center;
    color: #939393;
    transition: 500ms;
    font-size: 18px;
}
.aside-nav__link:hover{
    color: #2A86B1;
}
.welcome {
    margin-top: 30px;
    padding-left: 62px;
    background: url(images/header-bg.png);
    background-color: white;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 30px;
}

.header-title {
    position: relative;
    font-size: 50px;
    font-family: 'Rubik-Bold';
    color: #464748;
    line-height: 59px;
    max-width: 332px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.header-title:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 99.6px;
    height: 52.28px;
    background: #3FA5D5;
}

.header-descr {
    max-width: 315px;
    margin-bottom: 32px;
    color: #696868;
    line-height: 23px;
}

.header-button {
    padding: 7px 63px;
    background: #2A86B1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: max-content;
    color: white;
    transition: 400ms;
}

.header-button:hover {
    background: #3FA5D5;
}

.cards-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    width: 100%;
    align-items: center;
    border-radius: 15px;
    background: white;
    padding: 32px 0 19px 0;
}

.card-title {
    margin-bottom: 60px;
    color: #2A86B1;
    font-family: 'Rubik-Bold';
    font-size: 20px;
    text-align: center;
}

.card-title__second {
    margin-bottom: 36px;
}

.card-icon {
    font-size: 100px;
    color: #3FA5D5;
    margin-bottom: 70px;
}

.about-descr {
    max-width: 795px;
    width: 100%;
    color: #545454;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: justify;
}
.about-descr:nth-child(3){
    margin-bottom: 0;
}
.about-title {
    margin-bottom: 22px;
    color: #686868;
    font-size: 20px;
}

.about-card {
    max-width: 255px;
    width: 100%;
    border-radius: 8px;
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.title-box {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 17px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.card-descr h4 {
    text-align: justify;
    color: #323232;
    font-size: 17px;
    margin-bottom: 5.5px;
}

.card-descr p{
    line-height: 13px;
    font-size: 14px;
    font-weight: 300;
}
.about-card img{
    margin-right: 15px;
}
.footer{
    padding: 40px 0;
   background: #3FA5D5;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-contacts{
    display: flex;
    flex-direction: column;
}
.footer-num{
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}
.footer-mail{
    color: white;
}
.footer-logo{
    color: white;
    font-size: 50px;
    font-family: "Rubik-Bold";
}